*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
}

/* ========================= */
/* CSS for the NavBar Area */
/* ========================= */

#container{
    display: flex;
    flex-direction: row;
}
#myimg{
    height: 150%;
    width: 100%;
}
nav{
    position: fixed;
    height: 100%;
    width: 130px;
    background-color: rgba(63, 63, 63, 0.651);
    z-index: 1;
}
nav > ul > li{
    padding: 27% 16% ;
    cursor: pointer;
    font-size: 130%;
}
nav > ul > li >a{
    text-decoration: none;
    color: #ffffff;
}
nav .fa{
    padding-left: 19%;
}
#active{
    background-color: #000000;
}
#active:hover{
    background-color: #5f5e5ea6;
    color: #000000;
}
nav > ul > li:hover{
    background-color: #000000;
}

@media(max-width: 430px){
    #container{
        display: none;
    }
}

/* ========================= */
/* CSS for Mobile Firendly NavBar Area */
/* ========================= */

#nav_area{
    position: relative;
}
#myNavbar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #424242b4;
    z-index: 2;
}
#myNavbar > a{
    text-decoration: none;
    padding: 5px 17px;
    color: #ffffff;
}
#myNavbar > a:hover{
    background-color: #ffffff7e;
    color: #000000;
}

@media(max-width: 430px){
    #myNavbar{
        display: flex;
    }
    span{
        display: none;
    }
}

/* ========================= */
/* CSS for the Home Area */
/* ========================= */

#home{
    position: relative;
    display: flex;
    height: 2000px;
    justify-content: center;
    align-items: center;
}
#image-container{
    position: absolute;
    top: 0;
    left: 20%;
    color: #ffffff;
    text-align: center;
}
#image-container > h1{
    font-size: 500%;
    margin: 5% 0;
}
#image-container > h2{
    font-size: 200%;
    margin: 2% 0;
}
#image-container >img{
    width: 100%;
    height: 100%;
}

/* ========================= */
/* CSS for Mobile Firendly Home page Area */
/* ========================= */

@media(max-width:610px) {
    #home{
        height: 980px;
    }
}
@media(max-width:610px) {
    #home{
        height: 900px;
    }
    #image-container > h1{
        font-size: 400%;
        margin: 5% 0;
    }
    #image-container > h2{
        font-size: 100%;
        margin: 2% 0;
    }
    #image-container >img{
        width: 90%;
        height: 90%;
    }
}
@media(max-width:520px) {
    #home{
        height: 700px;
    }
    #image-container > h1{
        font-size: 300%;
        margin: 5% 0;
    }
    #image-container > h2{
        font-size: 80%;
        margin: 2% 0;
    }
    #image-container >img{
        width: 70%;
        height: 70%;
    }
}
@media(max-width: 430px){
    #home{
        height: 620px;
    }
    #image-container{
        top: 30px;
        left: 8%;
    }
}

/* ========================= */
/* CSS for the About page Area */
/* ========================= */

#about{
    display: flex;
    position: relative;
    height: 1600px;
}
#about-div{
    position: absolute;
    left: 18%;
    width: 80%;
}
#my-name{
    color: #ffffff;
    font-size: 50px;
    padding: 2% 0;
}
#h-r{
    width:430px;
}
#h-r2{
    width: 100%;
}
#about-div > p{
    color: #bebdbd93;
    font-size: 25px;
    padding: 1%;
}
#my-skill{
    color: #ffffffc5;
    font-size: 40px;
    padding: 9% 0 5% 0;
}
.skill-div{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    position: relative;
}
.skill{
    height: 30px;
    background-color: #414141b7;
    position: absolute;
}
button{
    background-color: #ffffffe8;
    width: 20%;
    padding: 1.3% 1.3% 1.3% 0;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: rgba(216, 216, 216, 0.678);
}
#cv-btn{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    padding-right: 5%;
}
#btn-icon{
    margin-right: 5%;
}

/* ========================= */
/* CSS for Mobile Firendly About page Area */
/* ========================= */

@media(max-width:720px){
    #about{
        height: 1200px;
    }
    #about-div > h2{
        font-size: 30px;
    }
    #about-div > p{
        font-size: 18px;
    }
    #about-div{
        left: 30%;
    }
    #cv-btn{
        font-size: 10px;
    }
}
@media(max-width: 430px){
    #about-div{
        left: 10%;
    }
}

/* ========================= */
/* CSS for the Projects page Area */
/* ========================= */

#projects{
    display: flex;
    position: relative;
    height: 1200px;
}
#projects-div{
    position: absolute;
    left: 18%;
    width: 80%;
}
#projects-div > h2{
    color: #ffffff;
    font-size: 50px;
    padding: 2% 0;
}
#projects-div hr {
    width: 80%;
}
#images{
    width: 80%;
    margin: 50px 50px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 10px;
}
#images img{
    width: 100%;
}

/* ========================= */
/* CSS for Mobile Firendly Projects page Area */
/* ========================= */

@media(max-width:1500px){
    #projects{
        height: 2600px;
    }
}
@media(max-width:900px){
    #projects{
        height: 2000px;
    }
}
@media(max-width:730px){
    #projects-div{
        left: 30%;
    }
    #projects{
        height: 1500px;
    }
}
@media(max-width: 430px){
    #projects{
        height: 1300px;
    }
    #projects-div{
        left: 10%;
    }
    #images img{
        width: 90%;
    }
}

/* ========================= */
/* CSS for the Contact page Area */
/* ========================= */

#contact{
    display: flex;
    position: relative;
    height: 1000px;
}
#contact-div{
    position: absolute;
    left: 18%;
    width: 80%;
}  
#contact-div > h2{
    color: #ffffff;
    font-size: 50px;
    padding: 2% 0;
}
#contact-div hr {
    width: 80%;
}
#contact-div >p{
    color:#f7f7f79d;
    font-size: 20px;
}
#contact-div >p >i{
    color: #ffffff;
    font-size: 30px;
    padding: 3% 2%;
}
#msg-para{
    padding: 6% 2% 1% 2%;
}
form{
    padding: 2%;
}
input{
    width: 100%;
    margin: 1% 0;
    padding: 2% 1%;
}
#send-btn{
    margin-left: 2%;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    padding-right: 3.5%;
}
#send-btn-icon{
    margin-right: 5%;
}

/* ========================= */
/* CSS for Mobile Firendly Contact page Area */
/* ========================= */

@media(max-width: 730px){
    #contact{
        height: 700px;
    }
    #contact-div{
        left: 25%;
    }
}
@media(max-width: 535px){
    #contact{
        height: 600px;
    }
    #contact-div{
        left: 32%;
    }
}
@media(max-width: 430px){
    #contact{
        height: 450px;
    }
    #contact-div{
        left: 10%;
    }
    #contact-div >p{
        font-size: 15px;
    }
    #contact-div >p >i{
        font-size: 20px;
    }
    #send-btn{
        font-size: 11px;
        padding: 5px;
        width: 40%;
    }
}

/* ========================= */
/* CSS for the Footer Area */
/* ========================= */

footer{
    position: absolute;
    left: 19%;
    margin: 5% 0;
    width: 50%;
}
footer >a{
    text-decoration: none;
}
footer >a >i{
    color: #f7f7f79d;
    font-size: 30px;
    margin-right: 2%;
    margin-bottom: 5%;
}

/* ========================= */
/* CSS for Mobile Firendly Footer Area */
/* ========================= */

@media(max-width: 730px){
    footer{
        left: 30%;
    }
}
@media(max-width: 430px){
    footer{
        left: 10%;
    }
    footer >a >i{
        font-size: 20px;
        margin-right: 1%;
    }
}